{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'healthcheck/css/vital_form.css' %}">
<script src="{% static 'healthcheck/js/vital_form.js' %}" defer></script>
{% endblock extrahead %}

{% block title %}測定結果{{ object|yesno:'修正,登録'}}{% endblock title %}

{% block content %}
    <div class="container mt-1 pt-2 p-4">
        <form  action='' method='post'>
        {% csrf_token %}
        {% if object %}
        <div class="row  align-items-center">
            <div class="col-lg-6">
                <p class="text-center h4 mb-2">{{ object.checked_up_at|date:'n月j日 H:i' }}の測定結果</p>
            </div>
            <div class="col-lg-6">
                <div class="mb-4 p-3 shadow bg-white rounded">
                    <input type="datetime-local" class="form-control form-control-lg" name="checked_up_at"
                        value="{{ object.checked_up_at|date:'Y-m-d\\TH:i' }}">
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-center h4 mb-2">測定データ登録</p>
        {% endif %}
            <div class="row">
                <div class="col-lg-6">

                <!-- 測定値入力 -->
                {% for vital_item in vital_items %}
                    <div class="mb-4 p-3 shadow bg-white rounded">
                        <!-- バリデーションエラーメッセージを表示(血圧項目のみ) -->
                        {% if forloop.counter0 == 4 %}
                            {% for error in form.non_field_errors %}
                                <div class="error text-center text-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}

                        {% for item in vital_item %}
                        <div class="mb-3 row justify-content-between">
                            {% if forloop.counter0 != 0 %}
                            <div class="mt-5"></div>
                            {% endif %}                        
                            <div class="col-sm-6 row">
                                {% if forloop.counter0 == 0 %}
                                <div class="form-check-inline col-1">                                    
                                    <input class="form-check-input" type="checkbox" id="{{ item.vitalGroup }}CheckBox" 
                                    {% if not object or object|getattr:item.fieldName is not None %}
                                        checked
                                    {% endif %}
                                    onchange="enableVitalInput({{ forloop.parentloop.counter0 }})">
                                </div>
                                {% else %}
                                <div class="form-check-inline col-1"></div>
                                {% endif %}                               
                                <label for="{{ item.vitalName }}Input" class="col form-label fs-4 text-center">
                                    <i class="fa-solid {{ item.iconName }} me-2"></i>{{ item.vitalTitle }}
                                </label>                                
                            </div>
                            <div class="col-sm-6">
                                <input type="number" class="form-control form-control-lg" id="{{ item.vitalName }}Input"
                                    name="{{ item.fieldName }}" min="{{ item.inputMin }}" max="{{ item.inputMax }}" step="{{ item.step }}"
                                    {% if object and object|getattr:item.fieldName is None %}
                                        value=""
                                    {% else %}
                                        value="{{ form|get_field_value:item.fieldName|default:item.defaultValue }}"
                                    {% endif %}
                                    onchange="this.value=parseFloat(this.value).toFixed({{ item.step|log:0.1 }})"
                                    oninput="this.form.{{ item.vitalName }}Range.value=this.value
                                        this.form.{{ item.vitalGroup }}CheckBox.checked = true">
                            </div>
                        </div>
                        <input type="range" class="form-range" id="{{ item.vitalName }}Range" min="{{ item.rangeMin }}" max="{{ item.rangeMax }}"
                            value="{{ form|get_field_value:item.fieldName|default:item.defaultValue }}" step="{{ item.step }}"
                            oninput="this.form.{{ item.vitalName }}Input.value=parseFloat(this.value).toFixed({{ item.step|log:0.1 }})
                                this.form.{{ item.vitalGroup }}CheckBox.checked = true">
                        {% endfor %}
                    </div>
                
                {% if forloop.counter0 == 2 %}
                <!-- 各入力欄を2つのカラムに分割(画面サイズlg以上で折り返し表示) -->
                </div>                

                <div class="col-lg-6 d-flex flex-column">
                {% endif %}

                {% endfor %} 
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                    {% if object %}
                    <div class="d-flex gap-3">
                        <button type="submit" class="btn btn-outline-primary shadow-lg rounded-pill" style="flex: 3;">修正</button>
                        <a type="button" class="btn btn-outline-danger shadow-lg rounded-pill" style="flex: 1;" data-bs-toggle="modal" data-bs-target="#delete-Modal-{{ object.pk }}">削除</a>
                    </div>
                    {% else %}
                    <button type="submit" class="btn btn-outline-primary shadow-lg rounded-pill form-control mt-auto mb-4">登録</button>
                    {% endif %}
                    </div>
                </div>                
            </div>
        </form>
        {% if object %}
            {% include 'healthcheck/vital_confirm_delete.html' with object=object %}
        {% endif %}
    </div>
{% endblock content %}
