
.container {
    max-width: 90vw;
}

.form-range {
    -webkit-appearance: none;
    appearance:none;

}

.circle-btn {
    aspect-ratio: 1 / 1;
    /*width: 50px;  /* ボタンサイズは自由に調整 */
    border-radius: 50% !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-btn i {
    color: green;
}